Day6/flows/basic-dependencies.yml
id: basic-dependencies
namespace: data-engineer
description: "Basic ETL workflow with sequential tasks"

tasks:
  - id: sequential
    type: io.kestra.core.tasks.flows.Sequential
    tasks:
      - id: extract_data
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.9-alpine
        script: |
          print("Extracting data...")
          # Output data to share with other tasks
          print("::{\"outputs\":{\"extracted_data\":\"some_data\"}}")
      
      - id: transform_data
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.9-alpine
        script: |
          print("Transforming data...")
          print(f"Received data: {{{{ outputs.sequential.extract_data.extracted_data }}}}")
          print("::{\"outputs\":{\"transformed_data\":\"processed_data\"}}")
      
      - id: load_data
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.9-alpine
        script: |
          print("Loading data...")
          print(f"Loading transformed data: {{{{ outputs.sequential.transform_data.transformed_data }}}}")